h1 {
  font-size: 60px;
  text-align: center;
   font-family: Courier;
}

h2 {
  font-size: 30px;
  font-family: inherit;
  color: blue;
  text-shadow: 2px 2px 2px yellow;
}

p, li {
  font-size: 20px;    
 font-family: 'Secular One', sans-serif;
  color: cyan;
}

html {
  background-color: #00639F;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px dashed yellow;
}

h1 {
  margin: 0;
  padding: 20px 0;    
  color: magenta;
  text-shadow: 3px 3px 1px lightgreen;
}

img {
  display: block;
  margin: 0 auto;
  border: 10px dotted red;
}
